/* Resetando as configurações padrão do navegador */

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header {
    /* O menu sobe e fica na mesma direçao do logo*/
    display: flex;
    /* Joga o um espaço na esquerda do logo e na direita do menu */
    justify-content: space-around;
    /* Alinha o menu com o logo */
    align-items: center;
    /* ajuste para telas menores */
    flex-wrap: wrap;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0px;
    left: 1px;
    width: 100%;
    height: 67px;
}

.header img {
    top: 14px;
    left: 563px;
    width: 40px;
    height: 40px;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 50%;
}

a {
    /* muda a cor do menu  para branca */
    color: white;
    /* sublinhar o menu */
    text-decoration: underline;
    /* coloca-lo em letras de forma */
    text-transform: uppercase;
    top: 0px;
    left: 1px;
    width: 1919px;
    height: 67px;
}

.menu {
    display: flex;
}

.menu li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    opacity: 1;
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 17px;
}


/* imagem principal */

.fundo-afric img {
    top: 0.5px;
    left: 1px;
    width: 1913px;
    height: 377px;
    border: 1px solid #707070;
    opacity: 1;
    object-fit: cover;
    object-position: center;
}

main {
    display: flex;
    justify-content: space-between;
}

main .codando {
    border: 1px solid #707070;
    border-radius: 50%;
    display: flex;
    top: 800px;
    left: 593px;
    width: 383px;
    height: 384px;
    opacity: 1;
    margin-top: 0px;
}

.LogoMidiaProfissional img {
    width: 40px;
    height: 41px;
    border-radius: 50%;
}


/*colocar os logos da midia profissional em linha*/

.LogoMidiaProfissional li {
    display: inline-block;
    font-size: 12px;
    /*centraliza o titulo da imagem da midia*/
    text-align: center;
    margin-left: 50px;
}

.sobreAutor {
    font: italic normal 300px 34px/46px Segoe UI;
    color: #707070;
    opacity: 1;
}

.sobreAutor h1 {
    width: 422px;
    font: normal bold 45px/73px Segoe UI;
    color: #707070;
    opacity: 1;
}

.sobreAutor h3 {
    text-align: center;
    margin-bottom: 50px;
}

article p {
    font: normal 15px Segoe UI;
}

.formacao {
    background: #707070;
    opacity: 1;
    text-align: center;
    padding: 2px
}

.formacao h2 {
    text-align: center;
    font: normal 30px Segoe UI;
    margin-top: 15px;
    margin-bottom: 30px;
}

.formacao ul {
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 30px;
    font: normal 15px Segoe UI;
    color: powderblue;
    opacity: 1;
}

.experiencia {
    text-align: center;
    font: normal 30px Segoe UI;
    color: #2c2c2c;
    opacity: 1;
    padding-bottom: 2px;
}

.experiencia h2 {
    font: normal 30px Segoe UI;
    margin-top: 15px;
    margin-bottom: 25px;
}

.experiencia ul {
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 30px;
    font: normal 15px Segoe UI;
    color: #2c2c2c;
    opacity: 1;
}