    /* Resetando as configurações padrão do navegador */
    
    * {
        list-style: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
    
    .header {
        /* O menu sobe e fica na mesma direçao do logo*/
        display: flex;
        /* Joga o um espaço na esquerda do logo e na direita do menu */
        justify-content: space-around;
        /* Alinha o menu com o logo */
        align-items: center;
        /* ajuste para telas menores */
        flex-wrap: wrap;
        background: #3A3A3A 0% 0% no-repeat padding-box;
        opacity: 1;
        top: 0px;
        left: 1px;
        width: 100%;
        height: 67px;
    }
    
    .header img {
        top: 14px;
        left: 563px;
        width: 40px;
        height: 40px;
        border: 1px solid #707070;
        opacity: 1;
        border-radius: 50%;
    }
    
    a {
        /* muda a cor do menu  para branca */
        color: white;
        /* sublinhar o menu */
        text-decoration: underline;
        /* coloca-lo em letras de forma */
        text-transform: uppercase;
        top: 0px;
        left: 1px;
        width: 1919px;
        height: 67px;
    }
    
    .menu {
        display: flex;
    }
    
    .menu li {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        opacity: 1;
        text-align: left;
        text-decoration: underline;
        font: normal normal bold 13px/17px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 17px;
    }
    /* imagem principal */
    
    .fundo-afric img {
        top: 0.5px;
        left: 1px;
        width: 1913px;
        height: 377px;
        border: 1px solid #707070;
        opacity: 1;
        object-fit: cover;
        object-position: center;
    }
    
    main {
        display: flex;
        justify-content: space-between;
    }
    
    main .codando {
        border: 1px solid #707070;
        border-radius: 50%;
        display: flex;
        top: 800px;
        left: 593px;
        width: 383px;
        height: 384px;
        opacity: 1;
        margin-top: 0px;
    }
    
    .codando h4 {
        text-align: lefth;
    }
    
    .LogoMidiaProfissional img {
        width: 40px;
        height: 41px;
        border-radius: 50%;
    }
    /*colocar os logos da midia profissional em linha*/
    
    .LogoMidiaProfissional li {
        display: inline-block;
        font-size: 12px;
        /*centraliza o titulo da imagem da midia*/
        text-align: center;
        margin-left: 50px;
    }
    
    .sobreAutor {
        font: italic normal 300px 34px/46px Segoe UI;
        color: #707070;
        opacity: 1;
    }
    
    .sobreAutor h1 {
        width: 422px;
        font: normal bold 45px/73px Segoe UI;
        color: #707070;
        opacity: 1;
    }
    
    .sobreAutor h3 {
        text-align: center;
        margin-bottom: 50px;
    }
    
    p {
        font: normal 10px Segoe UI;
    }
    
    .formacao {
        background: #707070;
        opacity: 1;
        text-align: center;
        padding: 2px
    }
    
    h2 {
        text-align: center;
        font: normal 40px Segoe UI;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .formacao ul {
        text-align: justify;
        margin-left: 50px;
        margin-bottom: 30px;
        font: normal 15px Segoe UI;
        color: powderblue;
        opacity: 1;
    }
    
    .experiencia {
        font: normal 40px Segoe UI;
        color: #2c2c2c;
        opacity: 1;
        padding-bottom: 2px;
    }
    
    .experiencia ul {
        text-align: justify;
        margin-left: 50px;
        margin-bottom: 30px;
        font: normal 15px Segoe UI;
        color: #2c2c2c;
        opacity: 1;
    }
    
    #container-Projetos {
        color: powderblue;
        font: normal 15px Segoe UI;
        color: #2c2c2c;
        opacity: 1;
        padding-bottom: 8px;
        display: flex;
    }
    
    .projetos {
        border-top: 1px solid #000;
        font: normal 40px Segoe UI;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-bottom: 8px;
        text-align: center;
    }
    
    #container-Projetos img {
        width: 275px;
        height: 183px;
    }
    
    #container-Projetos li {
        display: inline-block;
        color: #000000;
        margin: 0 5px;
    }
    
    h4 {
        font: normal 20px Segoe UI;
        border-top: 1px solid #000;
        margin-bottom: 8px;
        text-align: center;
    }
    
    #container-Projetos {
        font-size: 10px;
        text-align: center;
        padding-bottom: 8px;
    }
    
    #container-Projetos button {
        align-items: center;
        margin: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    
    .contatos {
        border-top: 1px solid #000;
        font: normal 40px Segoe UI;
        color: #2c2c2c;
        opacity: 1;
    }
    
    .contatos p {
        font: normal 15px Segoe UI;
        margin-bottom: 8px;
    }
    
    label {
        display: table;
        padding: 10px;
    }
    /*#mensagem #msg {
        display: table;
        height: 150px;
        width: 312px;
    }
    */
    
    .formulario input {
        padding: 5px;
        margin-bottom: 8px;
        align-items: center;
    }
    
    input[type="text"] {
        max-width: 300px;
        width: 100%;
    }
    
    .redeSociais p {
        font: normal 15px Segoe UI;
        margin-bottom: 8px;
    }
    
    .formulario button {
        text-align: center;
        padding: 6px;
        margin-top: 8px;
        margin-bottom: 15px;
        width: 100px;
    }
    
    .redeSociais img {
        font: normal 15px Segoe UI;
        margin-bottom: 8px;
        top: 14px;
        left: 563px;
        width: 100px;
        height: 100px;
        border: 1px solid #707070;
        opacity: 1;
        border-radius: 50%;
    }
    
    #rodape {
        position: relative;
        margin-top: 30px;
        bottom: 0;
        height: 35px;
        line-height: 35px;
        text-align: center;
        width: 100%;
    }