/* Resetando as configurações padrão do navegador */

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header {
    /* O menu sobe e fica na mesma direçao do logo*/
    display: flex;
    /* Joga o um espaço na esquerda do logo e na direita do menu */
    justify-content: space-around;
    /* Alinha o menu com o logo */
    align-items: center;
    /* ajuste para telas menores */
    flex-wrap: wrap;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 0px;
    left: 1px;
    width: 1919px;
    height: 67px;
}

.header img {
    top: 14px;
    left: 563px;
    width: 40px;
    height: 40px;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 50%;
}

a {
    /* muda a cor do menu  para branca */
    color: white;
    /* sublinhar o menu */
    text-decoration: underline;
    /* coloca-lo em letras de forma */
    text-transform: uppercase;
    top: 0px;
    left: 1px;
    width: 1919px;
    height: 67px;
}

.menu {
    display: flex;
}

.menu li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    opacity: 1;
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 13px/17px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 17px;
}


/* imagem principal */

.fundo-afric img {
    top: 0.5px;
    left: 1px;
    width: 1913px;
    height: 377px;
    border: 1px solid #707070;
    opacity: 1;
    object-fit: cover;
    object-position: center;
}


/* imagem RREDONDADA */

.container1 .principal img {
    top: 800px;
    left: 593px;
    width: 383px;
    height: 384px;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 50%;
}

.container1 img {
    width: 40px;
    height: 41px;
    border: 1px solid #707070;
    border-radius: 50%;
    opacity: 1;
}

article h1 {
    /*top: 380px;
    left: 848px;
    width: 422px;
    height: 73px;*/
    text-align: left;
    font: normal normal bold 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

article h3 {
    /*top: 453px;
    left: 848px;*
    width: 285px;
    height: 46px;*/
    text-align: left;
    font: italic normal 300 34px/46px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

article p {
    /* top: 600px; 
    left: 848px;
    width: 518px;
    height: 305px; */
    text-align: left;
    font: normal normal 600 21px/34px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    padding: 10px;
}

.formação {
    /*top: 973px;
    left: 554px;
    width: 230px;
    height: 73px;*/
    text-align: center;
    font: normal normal 300 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.formação ul {
    /*top: 1079px;
    left: 561px;
    width: 8px;
    height: 66px;*/
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.experiência {
    /*top: 1326px;
    left: 561px;
    width: 258px;
    height: 73px;*/
    text-align: center;
    font: normal normal 300 55px/73px Segoe UI;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}

.logoMedia .SLogo {
    border-radius: 50%;
}

.logoMedia p {
    /*top: 545px;
    left: 731px;
    width: 67px;
    height: 11px;*/
    text-align: left;
    font: normal normal 600 8px/34px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

k